.button-8 {
    background-color: var(--active-color);
    box-sizing: border-box;
    color: var(--text-color);
    cursor: pointer;
    display: block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 25px;
    font-weight: 400;
    outline: none;
    border: none;
    padding: 20px 30px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 35px;
    width: 400px;
    border-radius: 8px;
    text-decoration: none;
}

.button-8:active {
    box-shadow: none;
    color: var(--text-color);
}

.button-8:hover {
    background-color: var(--hover-color);
    color: var(--text-color)
}

.quiz {
    width: 150px;
    box-sizing: content-box;
    padding: 10px 10px;
}

.symbols {
    width: 50px;
    height:50px;
    box-sizing: content-box;
    padding: 10px 10px;
}

.button-checkbox{
    padding: 0px 0px;
}

.checkbox-round {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #4b38f6;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #4b38f6;
}